
body {
    font-family: Bodoni;
    color: red;
    background-color: white;
}

ul {
    list-style: none;
}

.card {
    box-shadow: 4px 4px #000;
    padding: 20px;
}

.card > a {
    text-decoration: none;
    background-color: green;
}
